

.box {
    background-color: antiquewhite;
    border: #999;
    float: left;
    font-size: 24px;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center; 
    width: 34px;
    margin: 2px;   
}

.board-row::after {
    clear: both;
    content: '';
    display: table;
}


