
.switch-list {
    background-color: bisque;
    display: flex;
    flex-direction: row;
}

.select-list {
    display: flex ;
    flex-direction: column;
    background-color: aquamarine;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.control-column {
    display: flex;
    flex-direction: column;
    background-color: aquamarine;
    align-items: center;
    justify-content: center;
    margin: 0;
}


.select-list > button {
    width: 30px;
    height: 30px;
}

.select-list > .unchecked {
    background-color: white;
}

.select-list > .checked {
    background-color: chartreuse;
}

