.point-picker {
    background-color: gray;
}

.point-picker>.grid {
    background-color: rgba(0, 0, 0, 0.345);
}

.point-picker>.grid>.axis {
    background-color: beige;
}

.point-picker>.grid>.point {
    background-color: blueviolet;
}